<mat-drawer-container class="example-container" autosize>
    <mat-drawer #sidenav class="example-sidenav" opened mode="side">
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    </mat-drawer>

    <div class="example-sidenav-content">
        <button mat-raised-button color="warn" class="btn-toggle" (click)="toogleNav()">
       <span  *ngIf="sidenav.opened"><mat-icon>keyboard_arrow_left</mat-icon></span>
       <span *ngIf="!sidenav.opened"><mat-icon>keyboard_arrow_right</mat-icon></span>
      </button>
    </div>
</mat-drawer-container>