<mat-drawer-container class="example-container" autosize>
    <mat-drawer #sidenav class="example-sidenav" opened mode="side">
  
      <section>
        <md-subheader class="md-primary">Unread Messages</md-subheader>
        <md-list layout-padding>
          <md-list-item class="md-3-line" >
              <img ng-src="sf" class="md-avatar" >
              <div class="md-list-item-text">
                <h3>aa</h3>
                <h4>e</h4>
                <p>
                  asdfasdf
                </p>
              </div>
          </md-list-item>
        </md-list>
      </section>


    </mat-drawer>
   
    <div class="example-sidenav-content">
      <button mat-raised-button color="warn" class="btn-toggle" (click)="toogleNav()">
       <span  *ngIf="sidenav.opened"><</span> <span *ngIf="!sidenav.opened">></span>
      </button>
      
    </div>
  
</mat-drawer-container>
